.lista-de-usuarios {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 20px;

    table {
        background-color: white;
    }

    .item-da-lista-de-usuarios {
        cursor: pointer;
    }
}