<div class="user-details">
    <mat-list>
        <mat-list-item class="u-txt-center">
            <span class="mat-h2">Detalhes de Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Nome: </span>
            <span class="mat-h3">Alexandre</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Email: </span>
            <span class="mat-h3">alexandre2025@uea.edu.br</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Telefone: </span>
            <span class="mat-h3">(92) 9999-9999</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Endereço: </span>
            <span class="mat-h3">Avenida Amazonas, 124, Manaus, AM</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Ativo: </span>
            <span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Função: </span>
            <span class="mat-h3">Desenvolvedor Fullstack</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Data de cadastro: </span>
            <span class="mat-h3">12/09/2025</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>