<div class="container">
    <div class="left-container">
        <div class="top-div">
            <!-- Conteúdo da Div Superior -->
            <app-filter></app-filter>
        </div>
        <div class="main-left-div">
            <!-- Conteúdo da div esquerda (80% da altura) -->
           <app-users-list></app-users-list>
        </div>
    </div>
    <div class="rigth-container">
        <!-- Conteúdo da div direita -->
        <app-user-details [usuario]="userSelected"></app-user-details>
    </div>
</div>