<div class="container">
    <div class="left-container">
        <div class="top-div">
            <!-- Conteúdo da Div Superior -->
            <app-filter (OnFilterEmitter)="receberFiltro($event)"></app-filter>
        </div>
        <div class="main-left-div">
            <!-- Conteúdo da div esquerda (80% da altura) -->
            <app-users-list [userList]="userList" (usuarioEmitter)="receberUsuario($event)"></app-users-list>
        </div>
    </div>
    <div class="rigth-container">
        <!-- Conteúdo da div direita -->
        <app-user-details [usuario]="userSelected" *ngIf="listaUsuario"></app-user-details>
    </div>
</div>